body {
  margin: 0;
  padding: 0;
  text-align: center;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  padding: 10px;
}

.title {
  font-size: 24px;
  margin: 0;
}

select {
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  margin-left: 10px;
}

.transform-control-2D {
  display: none;
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  select {
    margin: 10px 0;
  }

  .transform-control-2D {
    display: none;
    margin-top: 10px;
  }
}
.canvas-container {
  overflow: auto;
}
canvas {
  margin: 15px;
}

.resolution {
  color: red;
  margin: 0;
  padding: 5px;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.social-icon {
  border-radius: 50%;
  display: grid;
  place-items: center;
  background-color: var(--white);
  box-shadow: var(--shadow);
}

.github path {
  fill: black;
}

.social-icon svg {
  height: 32px;
  width: 32px;
}

.footer {
  width: 100%;
  position: absolute;
  background-color: #f1f1f1;
  text-align: center;
  bottom: 0;
  color: rgb(0, 0, 0);
}

@media screen and (max-height: 700px) {
  .footer {
    position: unset;
  }
}

.footer h3 {
  margin: 0;
  padding: 2px;
}
